.about_full_section_0 {
	padding: 12.5rem 0;
	background: #deeeef;
	color: #192c2d;
}

.about_full_section_0__title {
	text-align: center;
	font-size: 4rem;
	line-height: 1.1; /* 90.625% */
	max-width: 60rem;
	margin: 0 auto 1.45rem;
	letter-spacing: 0.175rem;
}

.about_content__block__title {
	color: #087378;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4; /* 133.333% */
	margin-bottom: 0.5rem;
	letter-spacing: -0.01rem;
}

.about_content__block__text {
	color: #2f2f2f;
	line-height: 1.3; /* 125% */
	letter-spacing: -0.002rem;
}

.about_content__section {
	display: flex;
	flex-wrap: wrap;
	max-width: 68rem;
	margin: 0 auto;
	padding: 0.5rem 0 4rem;
}

.about_content {
	background: #fff;
	color: #365355;
	padding: 2rem 0 3.75rem;
}

.about_content__block:nth-child(3) {
	border-radius: 0rem 0rem 0rem 3rem;
}

.about_content__block {
	padding: 2rem;
	width: 50%;
	background: #fff;
	min-height: 18rem;
}

.about_content__block:nth-child(2) {
	border-radius: 0rem 3rem 0rem 0rem;
}

.about_content__block:nth-child(1) {
	border-radius: 3rem 0rem 0rem 0rem;
}

.about_content__block:nth-child(4) {
	border-radius: 0rem 0rem 3rem 0rem;
}

.about_content__block__text p {
	margin-bottom: 1.2rem;
}

.about_content__block__text p:last-child {
	margin-bottom: 0;
}
.about_content__block--dark_green {
	background: #365355;
}

.about_content__block--green {
	background: #238a8a;
}

.about_content__block--dark_green .about_content__block__text,
.about_content__block--green .about_content__block__text {
	color: #fff;
}

.about_content__block--dark_green .about_content__block__title,
.about_content__block--green .about_content__block__title {
	color: #fff;
}

.about_content__title {
	color: #365355;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4; /* 133.333% */
	letter-spacing: -0.007rem;
	margin-bottom: 0.35rem;
}

.about_content__info {
	max-width: 68rem;
	margin: 0 auto;
	position: relative;
	padding-left: 0.875rem;
	border-left: 1px solid;
}

.about_content__text {
	color: #484848;
	line-height: 1.3; /* 125% */
}

.about_content__text p {
	margin-bottom: 1.2rem;
}

.about_content__text p:last-child {
	margin-bottom: 0;
}

.about_full_section_0__title__1 {
	font-weight: 700;
}

.about_full_section_0__btn {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 1rem;
	max-width: 27.5rem;
}

.about_full_section_0__btn > * {
	flex: 1;
	justify-content: center;
}

.about_full_section_0__text {
	color: #192c2d;
	text-align: center;
	line-height: 1.25; /* 125% */
	max-width: 25rem;
	margin: 0 auto 2rem;
}

@media screen and (max-width: 1000px) {
	.about_full_section_0 {
		padding: 100px 0 115px;
	}

	.about_full_section_0__title {
		font-size: 40px;
		letter-spacing: 0;
		max-width: 600px;
		line-height: 1.15;
		margin-bottom: 20px;
	}

	.about_full_section_0__text {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
		max-width: 30rem;
	}
}

@media screen and (max-width: 700px) {
	.about_content__section {
		gap: 1rem;
		padding-bottom: 3rem;
	}

	.about_content__block {
		border-radius: 1.25rem !important;
		width: 100%;
		padding: 2.5rem 2rem;
		border: 1px solid #365355;
	}

	.about_full_section_0 {
		padding: 60px 0;
	}

	.about_full_section_0__title {
		font-size: 24px;
		max-width: 430px;
		letter-spacing: 0;
	}

	.about_full_section_0__text {
		letter-spacing: 0;
		font-size: 14px;
		line-height: 1.4;
		max-width: 390px;
		margin-bottom: 22px;
	}

	.about_full_section_0__btn > * {
		font-weight: 500;
	}

	.about_content__block__title {
		font-size: 1.5rem;
		margin-bottom: 1.35rem;
		line-height: 1.3;
	}

	.about_content__block__text {
		font-size: 13.5px;
		line-height: 1.45;
	}

	.about_content__title {
		margin-bottom: 20px;
	}

	.about_full_section_0__title__1 {
		font-size: 0.875em;
	}
}
