.price__choose__title {
	color: #bcffef;
	font-size: 1.125rem;
	font-weight: 700;
	padding: 0.75rem 2rem;
	text-align: left;
	flex: 1;
}

.price__choose__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid #bcffef;
	border-radius: 0.25rem;
}

.price__choose {
	margin: 0 auto;
	margin-top: 1.75rem;
	max-width: 42.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.text_x--top_section a {
	color: #bcffef;
}

.text_x--top_section a:hover {
	color: inherit;
	text-decoration: none;
}

.price__choose__slider__block {
	border-left: 1px solid #bcffef;
	padding: 0.75rem 1rem 0.75rem 1.25rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 19.75rem;
	padding-left: 1.75rem;
}

.price__choose__slider__block__field input {
	border-radius: 0.125rem;
	background: #73e9cc;
	border: none;
	text-align: center;
	width: 2.9375rem;
	font-weight: 700;
	color: #192c2d;
	font-size: 1rem;
	padding: 0.3rem 0.25rem;
}

.price__choose__slider__range {
	flex: 1;
	box-shadow: none;
	background: no-repeat;
	border: none;
	border-radius: 0;
	border-radius: 0.25rem;
	background: rgba(115, 233, 204, 0.2);
	height: 0.25rem;
}

.price__choose__slider__block__field input::-webkit-outer-spin-button,
.price__choose__slider__block__field input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.price__choose__slider__block__field input[type='number'] {
	-moz-appearance: textfield;
}

.noUi-handle:after,
.noUi-handle:before {
	display: none;
}

.noUi-horizontal .noUi-handle {
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
	border: none;
	background: #73e9cc;
	box-shadow: none;
	top: 0.125rem;
	transform: translate(0, -50%);
	right: -0.5rem;
}

.color_green {
	color: #73e9cc;
}

.price__content {
	background: #ffffff;
	color: #192c2d;
	padding: 3.4rem 0;
}

.price__table_text__inner {
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	background: rgba(222, 238, 239, 0.5);
	display: inline-flex;
}

.price__table_text {
	text-align: center;
}

.price__table__th__main__title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0.2rem;
	max-width: 90%;
}

.price__table__th__point__title {
	color: #087378;
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1.35;
}

.price__table {
	margin: 0 auto;
	width: 100%;
}

.price__table th {
	text-align: left;
	font-weight: normal;
	vertical-align: bottom;
	padding-bottom: 1.5rem;
}

.price__table__th__main {
	width: 19.63rem;
	padding-left: 0.9rem;
}

tbody th {
	width: 16rem;
}

.price__table__th__point__text {
	font-size: 0.875rem;
	line-height: normal;
	margin-bottom: 0.35rem;
}

th.price__table__th__point {
	text-align: center;
	border-bottom: 1px solid rgba(8, 115, 120, 0.1);
	vertical-align: bottom;
}

.price__table__th__point {
	padding: 1.6rem 0rem 0.85rem;
	position: relative;
}

.price__table table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.price__table_advice {
	top: -1.85rem;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	background: rgba(222, 238, 239, 0.5);
	text-align: center;
	color: #087378;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.45rem;
	margin-bottom: 20px;
}
.price__table_advice.--hide {
	opacity: 0;
	pointer-events: none;
}

.pricing-table__plan-cost-amount {
	color: #2f2f2f;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.2; /* 114.286% */
}

.price__table__th__point__price {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.1rem;
	margin-bottom: 0.3rem;
}

.price__table__th__main__text {
	color: rgba(25, 44, 45, 0.95);
	font-size: 0.875rem;
	margin-top: 0.35rem;
}

.pricing-table__plan-cost-period {
	color: #999;
	font-size: 0.875rem;
}

.pricing-table__plan-cost-currency {
	font-size: 0.875rem;
	margin-bottom: 1rem;
}

.btn_price {
	width: 100%;
	justify-content: center;
	max-width: 9.4rem;
}

.price__table tbody th {
	padding: 0.85rem 1.25rem 0.6rem;
	border-bottom: 1px solid rgba(8, 115, 120, 0.1);
	background: #deeeef;
	font-weight: 500;
	font-size: 1rem;
	color: #087378;
	position: relative;
}

.price__table tbody td {
	text-align: center;
	border-bottom: 1px solid #deeeef;
	background: rgba(255, 255, 255, 0);
}
.price__table__full_info__inner {
	display: inline-block;
	border-radius: 0.5rem;
	background: rgba(222, 238, 239, 0.5);
	text-align: center;
	color: #087378;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.75rem 2rem;
	margin-bottom: 20px;
}

.price__table__full_info {
	text-align: center;
	display: none;
}

.price__td__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.price__table tbody {
	color: #484848;
	font-size: 0.875rem;
}

.price__table__th__point__inner {
}

.price__td__inner svg {
	width: 1.35rem;
	height: auto;
}

.btn_price:hover {
	background: transparent;
	color: #248a8a;
	border-color: #248a8a;
}

.btn_ghost--green {
	color: #248a8a;
	background: transparent;
}

.btn_ghost--green:hover {
	color: #fff;
	background: #248a8a;
}
.price__table tbody tr {
	transition: 0.35s ease-in-out;
}
.price__table tbody tr:hover {
	background: rgba(222, 238, 239, 0.5);
}

.price__table thead {
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 2;
}

.price__table__th__main__inner {
	padding-bottom: 2rem;
}

.price__table__th__notification {
	display: none;
	max-width: 12rem;
	margin: 0 auto;
	font-size: 0.75rem;
	padding: 0rem 0 1.75rem;
	color: #666;
}
.btn_price[disabled] {
	opacity: 0.45;
	pointer-events: none;
	background: #248a8a;
	color: #fff;
}

.price__table__th__point--highlight {
	border-bottom: 1px solid #deeeef;
	background: #e7f2f3;
	border-radius: 1rem 1rem 0 0;
	padding-top: 3.25rem;
}
.price__table__th__notification--choose__all {
    font-size: 0.8rem;
    padding: 0.75rem 1rem 3.5rem;
}

.price__table__th__notification--pro__content {
    border-radius: 0.25rem;
    border: 1px solid #DEEEEF;
    background: rgba(222, 238, 239, 0.40);
    padding: 1rem;
}

.price__table__th__notification.price__table__th__notification--pro {
    margin-top: -2.5rem;
    padding-bottom: 1rem;
}

.price__table__th__notification--pro__title {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
}

.price__table__th__notification--pro__phone a {
    text-decoration: none;
    margin-top: 0.15rem;
    color: #2F2F2F;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}

.price__table__th__notification--pro__phone a:hover {
    color: #087378;
}

.price__table_advice {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	top: 0;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	background: rgba(35, 138, 138, 0.2);
	padding: 0.55rem 0.45rem;
}

.highlight_table_value__modal {
	color: #fffbfb;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 0.25rem;
	background: #365355;
	padding: 1.25rem 1.15rem 1.4rem;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	width: 27.5rem;
	pointer-events: none;
	left: calc(100% + 0.5rem);
	top: 0;
	transform: translate(-0.5rem, 0);
}

.price__th__line__more {
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.price__th__line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.price__th__line__value {
	font-size: 1rem;
	font-weight: 500;
	text-align: left;
}

.price__th__line__value--small {
	display: block;
	font-weight: 400;
	font-size: 0.875rem;
}

.price__th__line__more__icon {
	font-size: 0;
	margin-top: 0.125rem;
}

.price__th__line__more:hover .highlight_table_value__modal {
	opacity: 1;
	pointer-events: all;
	transform: translate(0, 0);
}

.highlight_table_value__modal p {
	margin-bottom: 1rem;
}

.highlight_table_value__modal__content a {
	color: #b4f0fd;
	text-decoration: none;
}

.highlight_table_value__modal__content a:hover {
	color: #fff;
}

.highlight_table_value__modal:before {
	content: '';
	position: absolute;
	left: -0.5rem;
	height: 100%;
	background: #000;
	width: 0.5rem;
	top: 0;
	opacity: 0;
}

.loaded .highlight_table_value__modal {
	transition: 0.35s ease-in-out;
}

.highlight_table_value__modal p:last-child {
	margin-bottom: 0;
}

.highlight_table_value__x {
	color: #238a8a;
	font-size: 0.875rem;
	font-weight: 700;
	cursor: pointer;
}

.highlight_table_value {
	cursor: pointer;
	position: relative;
	z-index: 0;
}
.highlight_table_value:hover {
	z-index: 2;
	transition-delay: 0s;
}

.highlight_table_value {
	transition-delay: 0.25s;
}

.highlight_table_value:hover .highlight_table_value__x {
	color: inherit;
}

.highlight_table_value:hover .highlight_table_value__modal {
	opacity: 1;
	z-index: 1;
}

.highlight_table_value .highlight_table_value__modal {
	left: 50%;
	top: calc(100% + 0.5rem);
	max-width: 20rem;
	text-align: left;
	font-size: 0.725rem;
	transform: translate(-50%, 0px);
	padding: 1.2rem 1.15rem 1.25rem;
}
.price__table__th__notification--choose__all{display: none;}

.btn_price:hover {
    background: #73E9CC;
    border-color: #73E9CC;
    color: #000;
}

@media screen and (max-width: 1000px) {
	.price__table__th__main__title {
		font-size: 1.15rem;
		line-height: 1.15;
		width: 180px;
		margin-bottom: 10px;
		letter-spacing: 0;
	}

	.price__table__th__main {
		width: 180px;
	}

	.price__table {
		margin: 0 -15px;
		width: calc(100% + 30px);
	}

	.price__table__th__main__text {
		margin-top: 0;
		font-size: 0.75rem;
		line-height: 1.4;
	}

	.price__table__th__main__inner {
		padding-bottom: 0;
	}

	.btn_price {
		padding: 0.525rem 0.5rem 0.6rem;
		font-size: 0.875rem;
	}

	.price__table__th__point__title {
		font-size: 1.25rem;
		margin-bottom: 0.1rem;
	}

	.price__table__th__point__text {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 850px) {
	.price__table__th__notification--choose__all {
		padding: .75rem 0.25rem 3.5rem;
		font-size: 0.7rem;
	}

	.price__table__th__notification--pro__title {
		font-size: 0.75rem;
	}

	.price__table__th__notification--pro__phone a {
		font-size: 0.75rem;
	}

	.price__table__th__notification--pro__content {
		padding: 2.5rem 0;
	}
	.highlight_table_value__modal {
		left: auto;
		right: 0;
		text-align: left;
		max-width: 92.5vw;
		top: calc(100% + 5px);
	}
	.price__table table {
		display: flex;
		flex-direction: column;
	}
	.price__table tbody th:has(.price__th__line__more:hover) {
		z-index: 2;
	}

	.price__table thead tr {
		width: 100%;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.price__table thead {
		display: flex;
	}

	th.price__table__th__point {
		flex: 25%;
		padding: 12px 0;
	}

	th.price__table__th__main {
		display: none;
	}

	.price__content {
		padding: 2.5rem 0;
	}

	.pricing-table__plan-cost-amount {
		font-size: 1.45rem;
	}

	.pricing-table__plan-cost-period {
		font-size: inherit;
	}

	.pricing-table__plan-cost-currency {
		font-size: inherit;
	}

	.price__table__th__point__price {
		font-size: 0.7rem;
	}

	.price__table_advice {
		font-size: 0.75rem;
		margin-bottom: 10px;
	}

	.price__table tbody tr {
		display: flex;
		flex-wrap: wrap;
	}

	.price__table tbody td {
		width: 25%;
		padding: 0.75rem;
		border-left: 1px solid #deedef;
		font-size: 11.5px;
		line-height: 1.2;
	}

	.price__table tbody th {
		width: 100%;
		padding: 0.5rem 1rem;
		text-align: center;
		font-size: 13px;
	}

	.highlight_table_value__x {
		font-size: 11px;
	}
	th.price__table__th__point--highlight {
		padding-top: 42px;
	}

	.highlight_table_value .highlight_table_value__modal {
		font-size: 12px;
		line-height: 1.4;
		max-width: 500px;
		left: 10px;
		transform: none;
		right: auto;
		right: 10px;
		width: auto;
	}

	.highlight_table_value {
		position: static;
	}

	.price__table tbody tr {
		position: relative;
	}
}

@media screen and (max-width: 700px) {
	.price__choose__row {
		flex-direction: column;
		padding: 1rem;
	}

	.price__choose__slider__block {
		width: 100%;
		border: none;
		padding: 0;
	}

	.price__choose__title {
		width: 100%;
		padding: 0;
		margin-bottom: 8px;
		font-size: 1rem;
		text-align: left;
	}

	.price__choose {
		margin-top: 18px;
		gap: 12px;
	}

	.contact__top.top_section.top_section--price {
		padding-bottom: 35px;
	}
	.noUi-horizontal .noUi-handle {
		top: 1px;
	}
	.price__choose__title {
		border-bottom: 1px solid #bcffef;
		padding: 0.85rem 2rem;
		margin-bottom: 0;
		text-align: center;
	}

	.price__choose__row {
		padding: 0;
	}

	.price__choose__slider__block {
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 650px) {
	.price__table__full_info__inner {
		font-size: 0.775rem;
	}
	.price__table__th__point__text {
		display: none;
	}

	th.price__table__th__point {
		padding: 10px 3.5px;
	}

	.btn_price {
		font-size: 0.8rem;
		padding: 0.4rem 0.5rem 0.4rem;
	}

	.price__table tbody th {
		font-size: 12px;
	}

	.price__table_advice {
		display: none;
	}

	.price__table__th__point__title {
		font-size: 1rem;
	}

	.pricing-table__plan-cost-amount {
		font-size: 1.22rem;
	}

	.price__table__th__point__price {
		margin-bottom: 0.15rem;
	}
}
