<div class="quiz_registrion_step" data-step-2-owner>
    <div class="quiz_registrion_step__content">
        <div class="quiz_registrion_step__title">
            About your team
        </div>
        <div class="quiz_registrion_step__text">What’s your team size?</div>
        <div class="quiz_registrion_step__variants js_quiz_registrion_step1">
            <label class="quiz_registrion_step__choose">
                <input type="radio" name="about_team" value="Just me">
                <div class="quiz_registrion_step__choose__dot"></div>
                <div class="quiz_registrion_step__choose__title">Just me</div>
            </label>
            <label class="quiz_registrion_step__choose">
                <input type="radio" name="about_team" value="Small (2-9 people) ">
                <div class="quiz_registrion_step__choose__dot"></div>
                <div class="quiz_registrion_step__choose__title">Small (2-9 people) </div>
            </label>
            <label class="quiz_registrion_step__choose">
                <input type="radio" name="about_team" value="Medium (10-50 people)">
                <div class="quiz_registrion_step__choose__dot"></div>
                <div class="quiz_registrion_step__choose__title">Medium (10-50 people)</div>
            </label>

            <label class="quiz_registrion_step__choose">
                <input type="radio" name="about_team" value="Enterprise (51+ people)">
                <div class="quiz_registrion_step__choose__dot"></div>
                <div class="quiz_registrion_step__choose__title">Enterprise (51+ people)</div>
            </label>
        </div>
    </div>


    <div class="quiz_registrion_step__content__small">
        <div class="quiz_registrion_step__title">
            Type od users
        </div>
        <div class="quiz_registrion_step__text">We’ll suggest inspection templates based on your answer</div>

        <div class="quiz_registrion_step__list__input_select">
            <div class="quiz_registrion_input_select_item">
                <div class="quiz_registrion_input_select_item__title">Field team</div>
                <div class="quiz_registrion_input_select_item__block">
                    <input type="text" name="Drivers/Inspectors" placeholder="Drivers/Inspectors">
                    <select name="" class="js_select">
                        <option value="1 (just you)" dissabled>1 (just you)</option>
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                    </select>
                </div>
            </div>
            <div class="quiz_registrion_input_select_item">
                <div class="quiz_registrion_input_select_item__title">Field team</div>
                <div class="quiz_registrion_input_select_item__block">
                    <input type="text" name="Drivers/Inspectors" placeholder="Drivers/Inspectors">
                    <select name="" class="js_select">
                        <option value="1 (just you)" dissabled>1 (just you)</option>
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                    </select>
                </div>
            </div>
            <div class="quiz_registrion_input_select_item">
                <div class="quiz_registrion_input_select_item__title">Field team</div>
                <div class="quiz_registrion_input_select_item__block">
                    <input type="text" name="Drivers/Inspectors" placeholder="Drivers/Inspectors">
                    <select name="" class="js_select">
                        <option value="1 (just you)" dissabled>1 (just you)</option>
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="quiz_registrion_btn__block jc_spb">
            <button class="quiz_registrion_btn__back" data-registration-back>
                <span>Back</span>
            </button>
            <button class="btn_default btn_x btn_green quiz_registrion_btn" data-registration-submit>Submit</button>
        </div>
    </div>
</div>