.features__list {
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	padding: 2.5rem 0;
}

.features__item {
	border-radius: 0.5rem;
	border: 1px solid #dee3eb;
	background: var(--White, #fff);
	padding: 2rem;
	color: #484848;
	width: calc((100% - 2rem) / 3);
	min-height: 27rem;
}

.features__item__inner {
	position: relative;
}

.features__content {
	background: #fff;
	padding-bottom: 11.4rem;
}

.features__item__img {
	font-size: 0;
	width: 2.9rem;
	margin-bottom: 0.7rem;
}

.features__item__img img {
	width: 100%;
}

.features__item__title {
	color: #192c2d;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25; /* 133.333% */
	letter-spacing: -0.01rem;
	margin-bottom: 0.45rem;
}

.features__item__text p {
	margin-bottom: 1.2rem;
}

.features__item__text {
	line-height: 1.275;
}

.features__item__text p:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
	.features__content {
		padding-bottom: 50px;
	}
	.features__item {
		width: calc((100% - 1rem) / 2);
		min-height: 22.5rem;
	}
}

@media screen and (max-width: 700px) {
	.features__item {
		width: 100%;
		min-height: 0;
	}

	.features__item__title {
		margin-bottom: 1.2rem;
		font-size: 1.35rem;
	}

	.features__item__text {
		max-width: 400px;
		font-size: 13.5px;
		line-height: 1.4;
	}

	.features__item__img {
		width: 44px;
		margin-bottom: 12px;
	}

	.features__content {
		padding-bottom: 0;
	}
}
