<div class="proof_modal__step" data-step="2">
    <div class="proof_modal__step__title">Contact details.</div>
    <div class="proof_modal__step__y">
        <form action="javascript:void(0)" class="js_form js_form__nookin_in_modal">
            <div class="field_x__group field_x__group--black">
                <div class="field_x__row __animate__top">
                    <label class="field_x">
                        <div class="field_x__title">Contact name</div>
                        <input type="text" name="name" required placeholder="Full name">
                    </label>
                </div>
                <div class="field_x__row __animate__top">
                    <label class="field_x">
                        <div class="field_x__title">Company name</div>
                        <input type="text" name="company" required placeholder="Company name">
                    </label>

                    <label class="field_x">
                        <div class="field_x__title">Business type</div>
                        <select name="business" class="js_select" placeholder="Select">
                            <option value=""></option>
                            <option value="Insurance company">Insurance company</option>
                            <option value="Contractor">Contractor</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Home inspections">Home inspections</option>
                            <option value="Rental/Leasing">Rental/Leasing</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>
                </div>
                <div class="field_x__row __animate__top">
                    <label class="field_x">
                        <div class="field_x__title">Email</div>
                        <input type="email" name="email" required placeholder="Email">
                    </label>
                    <label class="field_x">
                        <div class="field_x__title">Phone</div>
                        <input type="phone" name="phone" required placeholder="Phone">
                    </label>
                </div>
                <div class="field_x__row __animate__top">
                    <div class="field_x field_x--btn">
                        <button class="btn_default btn_x btn_green  btn_form_x btn_form_x--booking">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
