.text_x {
    line-height: normal;
}

.top_section {
    text-align: center;
    padding: 4.5rem 0 5.5rem;
}

.text_x--top_section {
    max-width: 50rem;
    margin: 0 auto;
}

.form__section__book_demo.form__section__book_demo--contact {
    padding: 6.2rem 0;
}

.form__section__book_demo__contact__title--contact {
    font-size: 2.7rem;
    margin-bottom: 2.5rem;
}

.form__section__book_demo--contact .form__section__book_demo__contact__info {
    gap: 1.9rem;
}



@media screen and (max-width: 700px) {


    .form__section__book_demo.form__section__book_demo--contact {
        padding: 60px 0;
    }

    .form__section__book_demo__contact__title--contact {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .form__section__book_demo.form__section__book_demo--contact .container {
        gap: 45px;
    }

    .text_x {
        line-height: 1.5;
        font-size: 14px;
    }

    .top_section {
        padding: 4rem 0 4rem;
    }
}