.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    overflow: scroll;
    pointer-events: none;
    transform: translate(-100%,0);
    max-width: 100%;
    width: 100%;
    background: #fff;
    visibility: hidden;
    color: #fff;
    background: #365355;
    overscroll-behavior: contain;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}


.loaded .modal__menu__overlay {
    transition: 0.25s ease-in-out;
}


.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        z-index: 9;
        visibility: visible;
        pointer-events: all;
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__inner {
    padding: 20px 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
}
.modal__menu__inner {
    max-width: 475px;
    margin: 0 auto;
    position: relative;
}


.btn__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    appearance: none;
}

.btn__close:before,.btn__close:after {
    content: "";
    width: 65%;
    height: 1.5px;
    background: #bcffef;
    display: block;
    transform: rotate(45deg);
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.btn__close:after {
    transform: rotate(-45deg);
}

.modal__menu__btn_close {
    top: 20px;
    right: 10px;
}

.modal__menu__logo {
    display: inline-flex;
    width: 100px;
}

.modal__menu__logo img {
    width: 100%;
}

.modal__menu__list ul {
    list-style: none;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
}

.modal__menu__list a {
    color: #BCFFEF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid rgba(188, 255, 239, 0.20);
    display: block;
    padding: 1rem 0;
}

.modal__menu__list a:hover {
    color: #fff;
}

.modal__menu__list {
    margin-top: 25px;
    flex: 1;
}

.modal__menu__btn .header__btn__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px;
}

.modal__menu__btn {
    margin-top: 50px;
}

.modal__menu__btn .header__btn__block a {
    font-size: 14.5px;
    padding: 10.5px;
}