<div class="form__section__book_demo">
    <div class="container">

        <div class="form__section__book_demo__contact">
            <div class="form__section__book_demo__contact__title __animate__top">What will be next step?</div>
            <div class="form__section__book_demo__contact__info">
                <div class="form__section__book_demo__contact__item __animate__top">
                    <div class="form__section__book_demo__contact__item__title">Phone:</div>
                    <div class="form__section__book_demo__contact__item__value">
                        <a href="tel:(848) 244-3647">(848) 244-3647</a>
                    </div>
                </div>
                <div class="form__section__book_demo__contact__item __animate__top">
                    <div class="form__section__book_demo__contact__item__title">Email:</div>
                    <div class="form__section__book_demo__contact__item__value">
                        <a href="mailto:join@proofactive.com">join@proofactive.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__section__book_demo__form__block">
            <div class="form__section__book_demo__form__title __animate__top">Book a demo</div>
            <div class="form__section__book_demo__form">
                @@include('form_x_content.html')
            </div>
        </div>
    </div>
</div>
