.quiz_registrion_step {
	display: none;
	position: relative;
	padding-bottom: 4rem;
}
.quiz_registrion_step.active {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.form__registation__more_details {
	display: flex;
	display: none;
	margin-left: -13.75rem;
	margin-right: -12.5rem;
	flex: 1;
}
.quiz_registrion_step__title {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.08rem;
	margin-bottom: 1rem;
}

.quiz_registrion_step__variants {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.quiz_registrion_step__choose {
	border-radius: 0.25rem;
	border: 1px solid #365355;
	display: flex;
	align-items: center;
	font-weight: 500;
	gap: 0.65rem;
	padding: 0.6rem 1rem;
}

.quiz_registrion_step__choose input {
	position: absolute;
	opacity: 0;
}

.quiz_registrion_step__choose__dot {
	width: 1rem;
	height: 1rem;
	border: 1px solid;
	border-radius: 50%;
	position: relative;
}

.quiz_registrion_step__choose__dot:before {
	transition: 0.35s;
	position: absolute;
	left: 0.125rem;
	content: '';
	border-radius: 50%;
	background: #ffffff;
	top: 0.125rem;
	bottom: 0.125rem;
	right: 0.125rem;
	opacity: 0;
}

.quiz_registrion_step__choose:has(input:checked) {
	background: #365355;
	color: #fff;
	border-color: #365355;
}

.quiz_registrion_step__choose:has(input:checked)
	.quiz_registrion_step__choose__dot:before {
	opacity: 1;
}

.loaded .quiz_registrion_step__choose {
	transition: 0.35s;
}
.dn_reg {
	display: none;
}
[data-step1-owner] {
	padding-top: 4rem;
}

.quiz_registrion_step__content__extend_text {
	border-radius: 0.25rem;
	background: #deeeef;
	display: inline-block;
	padding: 0.35rem 2rem;
	font-weight: 600;
	color: #2f2f2f;
}

.quiz_registrion_step__content__small {
	margin-top: 2rem;
}

.btn_x.quiz_registrion_btn:hover {
	background: #182d2d;
	color: #fff;
}

.quiz_registrion_btn__block {
	margin-top: 2rem;
	justify-content: flex-end;
	display: flex;
}

.btn_x.quiz_registrion_btn {
	width: 100%;
	max-width: 12.5rem;
	justify-content: center;
}

.quiz_registrion_content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.quiz_registrion_list {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.quiz_registrion_btn__block {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.quiz_registrion_btn__block.jc_spb {
	justify-content: space-between;
	align-items: center;
}

.quiz_registrion_btn__back {
	background: transparent;
	border: none;
	position: relative;
	padding-left: 1.75rem;
}

.quiz_registrion_btn__back:before {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM17 9C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7V9ZM1 9H17V7H1V9Z' fill='%23192C2D'/%3E%3C/svg%3E%0A");
	width: 1rem;
	height: 1rem;
	background-size: contain;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-repeat: no-repeat;
	background-position: 50%;
}

.quiz_registrion_btn__back:hover {
	opacity: 0.85;
}

.loaded .quiz_registrion_btn__back:before {
	transition: 0.35s;
}

.loaded .quiz_registrion_btn__back:hover:before {
	transform: translate(-0.15rem, -50%);
}

.quiz_registrion_input_select_item__block {
    display: flex;
    flex-wrap: wrap;
}

.quiz_registrion_input_select_item__title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4; /* 128.571% */
    margin-bottom: 0.5rem;
}

.quiz_registrion_step__list__input_select {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 33rem;
    gap:1rem
}

.quiz_registrion_input_select_item__block input {
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border:1px solid #484848;
    border-right: none;
    padding: 0.75rem;
    flex: 1;
}

.quiz_registrion_input_select_item__block .select2-container {
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #192C2D;
    color: #000;
    width: 11.5rem !important;
}

.quiz_registrion_input_select_item__block  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.quiz_registrion_input_select_item__block .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #182d2d transparent transparent transparent;
}

.quiz_registrion_input_select_item__block .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #182d2d transparent;
}

.quiz_registrion_input_select_item__block .select2.select2-container.select2-container--default.select2-container--below.select2-container--open.select2-container--focus {
    border-radius: 0 0.25rem 0 0;
}



@media screen and (max-width: 1000px) {
	.form__registation__more_details {
		margin-left: 0;
		margin-right: 0;
	}

	.quiz_registrion_step__title {
		font-size: 1.45rem;
		letter-spacing: 0;
	}
	.quiz_registrion_btn__block {
		position: static;
		display: flex;
		justify-content: flex-start;
	}
}
