
.__animate__scale_down {
    transform: scale(1.5)
}

.__animate__top {
    transform: translate(0,4.5rem);
    // opacity: 0;
}
.__animate__right {
    transform: translate(15rem,0);
    // opacity: 0;
}


.__animate__line_home_about {
    transform: scaleX(0);
    transform-origin: 0 0
}

.__animate__line_home_about--right {
    transform: scaleX(0);
    transform-origin: 100% 0
}

.__animate__opacity {
    opacity: 0
}

.__animate__footer_line {
    transform: translate(0,100%)
}

.__animate__case__move_top {
    height: 0
}

.__animate_promo_curtain {
    transform: translate(0,-2rem)
}
