.main_footer .container {
    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_menu__section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 26.5rem;
    width: 100%;
}

.footer_menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    line-height: 1.25;
}

.footer_menu a {
    color: inherit;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
}

.footer_menu__title {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.65rem;
    font-size: 1.1rem;
}

.main_footer {padding: 1.75rem 0;}

.footer_menu {
    flex: 1;
}

.footer_menu a:hover {
    color: #248a8a;
}

.footer_info {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.footer_logo {
    display: inline-flex;
    width: 7rem;
    font-size: 0;
    margin-bottom: 1rem;
    filter: brightness(0) invert(1);
}

.footer_logo img {
    width: 100%;
}

.footer_apps_logo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer_apps_logo a {
    width: 7.75rem;
    font-size: 0;
}

.footer_apps_logo a img {
    width: 100%;
}

.footer_copyright {
    font-size: 0.875rem;
}

@media screen and (max-width:700px) {

.footer_info {
    width: 100%;
    text-align: left;
    align-items: flex-start;
}

.footer_menu__section {
    max-width: 100%;
}

.footer_menu ul {
    gap: 0.275rem;
}

.footer_menu__title {
    margin-bottom: 0.85rem;
    font-size: 15px;
}

.footer_logo {
    display: none;
}

.main_footer .container {
    gap: 25px;
}

.main_footer {
    padding: 30px 0;
}
}