.header__logo {
	display: inline-flex;
	align-items: center;
}

.header_btn_menu {
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: relative;
	background: transparent;
	border: none;
	appearance: none;
	border-radius: 0;
	border: 1px solid #bcffef;
	border-radius: 3px;

	span {
		background: #bcffef;
		width: 65%;
		height: 0.125rem;
		position: absolute;
		border-radius: 0.315rem;
		margin: auto;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		transition: 0.5s;

		&:nth-child(1) {
			transform: translate(0, -0.45rem);
		}

		&:nth-child(2) {
			transform: translate(0, 0);
		}

		&:nth-child(3) {
			transform: translate(0, 0.45rem);
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: translate(0, 0) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translate(0, 0) rotate(-45deg);
			}
		}
	}
}
.header__menu li.active a {
    position: relative;
}

.header__menu li.active a:after {
	left: -0.5rem;
    right:  -0.5rem;
    bottom: -1.95rem;
    background: #bcffef;
    height: 0.175rem;
    content: "";
    position: absolute;
	border-radius: 10px 10px 0 0;
}

.loaded .header__menu li.active a:after {
    transition: 0.35s;
}

.header__menu li.active a:hover:after {
    background: #fff;
}


.header_main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background: #365355;
	padding: 1.25rem 0 1.15rem;
	border-bottom: 1px solid #bcffef;
}

.header_main .container {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.header__info {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	max-width: 52.5rem;
	justify-content: space-between;
	align-items: center;
}

.header__menu ul {
	display: flex;
	align-items: center;
	gap: 2.545rem;
	list-style: none;
}

.header__logo {
	width: 7.875rem;
}

.header__logo img {
	width: 100%;
}

.header_btn_menu {
	display: none;
}

.header__menu a {
	color: #bcffef;
	font-size: 1.125rem;
	font-weight: 400;
	text-transform: lowercase;
	text-decoration: none;
}

.header__menu a:hover {
	color: #fff;
}

.header__btn__block {
	display: flex;
	gap: 1rem;
	width: 19.75rem;
}

.btn_x {
	font-weight: 400;
	border-radius: 0.25rem;
	border: 1px solid;
	padding: 0.75rem;
    display: inline-flex;
}

.btn_green {
	background: #238a8a;
	color: #fff;
	border-color: #238a8a;
}

.header__btn__block a {
	flex: 1;
	white-space: nowrap;
	text-align: center;
	justify-content: center;
}

.btn_ghost {
	color: #bcffef;
}

.btn_ghost:hover {
	background: #fff;
	color: #365355;
	border-color: #fff;
}

.btn_green:hover {
	background: #fff;
	color: #365355;
	border-color: #fff;
}

.loaded .header_main {
    transition: 0.35s ease-in-out;
}

.header_main.header_hide {
    transform: translate(0,-100%)!important
}
@media screen and (max-width: 1000px) {
	.header__menu {
		display: none;
	}

	.header_btn_menu {
		display: flex;
		border: 1px solid #bcffef;
		border-radius: 3px;
	}
	.header__info {
		justify-content: flex-end;
		gap: 1rem;
	}

	.header_main {
		padding: 15px 0;
	}
}
@media screen and (max-width: 700px) {
	.header__btn__block a {
		font-size: 12.5px;
	}

	.btn_x {
		padding: 8.25px;
	}

	.header__btn__block {
		width: 16rem;
		gap: 5px;
	}

	.header__info {
		gap: 5px;
	}

	.header_btn_menu {
		width: 34px;
		height: 35px;
	}

	.header_btn_menu span {
		width: 60%;
		height: 1.5px;
	}

	.header__logo {
		width: 100px;
	}

	.header_main {
		padding: 13px 0 15px;
	}
}
@media screen and (max-width: 550px) {
	.header__btn__block {
		display: none;
	}
}
