html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}
html {
    font-size: 16px;
   font-size: 1.1111111vw;
}

html,body{
    scrollbar-gutter: stable;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}


body {
    font-size: inherit;
    font-family: $font;
    line-height: 1.4;
    color: #fff;
}


.loaded a {
    transition: 0.25s ease-in-out;
}

.loaded .btn_default {
    transition: color 0.35s ease-in-out,border 0.35s ease-in-out,background-color 0.35s ease-in-out;
}

.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.hide_scrollbar::-webkit-scrollbar {
    display: none;
}

.hide_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page__wrap {
    overflow: hidden;
}
.page__wrap.page__wrap--no{overflow: visible;}

.container {
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 84.5rem;
}



.title_x {

    margin: 0 0 1.5rem;
    font-size: 2.75rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.125rem;

    &--center {
        text-align: center;
    }
}

body {
	background: #365355;
	color: #fff;
    padding-top: 5.5rem;
}

@media screen and (max-width:1000px) {
    body { padding-top: 73px}
}

@media screen and (max-width:700px) {
    body { padding-top: 65px}
}




@media screen and (max-width:1000px) {

    .container {
        max-width: 1000px;
        padding: 0 15px;
    }

    html {
        font-size: 14px;
    }
}




@media screen and (max-width: 700px) {

    .title_x {
        font-size: 2rem;
        letter-spacing: 0;
        margin-bottom: 1.25rem;
    }

}