.modal__default {
	display: none;
	padding: 0;
	max-width: 450px;
	width: 100%;
	color: $textColor;
}

.modal__inner {
	padding: 32px 50px;
}

.modal__title {
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
	line-height: 1.25;
}

.proof_modal__content .container {
	max-width: 45rem;
}

.proof_modal__booking {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 50;
	background: #fff;
	color: #192c2d;
	transform: translate(0, -1.5rem);
	opacity: 0;
	pointer-events: none;
}

.loaded .proof_modal__booking {
	transition: 0.5s;
}
.proof_modal__step {
	display: none;
}
.proof_modal__step.active {
	display: block;
}

.proof_modal__step__title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.proof_modal__type__call__title {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25; /* 133.333% */
	margin-bottom: 1rem;
}

.proof_modal__type__call__choose__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.proof_modal__type__call__choose__item {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	border: 1px solid #238a8a;
	color: #238a8a;
	font-size: 1rem;
	font-weight: 700;
	gap: 0.85rem;
	padding: 0.75rem;
}

.proof_modal__type__call {
	border-radius: 0.25rem;
	border: 1px solid #deeeef;
	padding: 1rem;
	margin-bottom: 1rem;
}

.proof_modal__date {
	border-radius: 0.25rem;
	border: 1px solid #deeeef;
	padding: 1rem;
}

.proof_modal__date__title {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.35; /* 133.333% */
	margin-bottom: 1.25rem;
}

.proof_modal__date__row {
	display: flex;
	flex-wrap: wrap;
}

.proof_time__point {
	border-radius: 0.25rem;
	border: 1px solid #238a8a;
	display: flex;
	align-items: center;
	color: #238a8a;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1; /* 133.333% */
	text-align: center;
	justify-content: center;
	padding: 0.75rem 1rem;
}

.proof_time__point input {
	position: absolute;
	opacity: 0;
}

.proof_time__list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-height: 21.5rem;
	overflow-y: scroll;
	padding-right: 1rem;
}

.proof_time__point:hover {
	background: #248a8a;
	color: #fff;
}

.loaded .proof_time__point {
	transition: 0.35s;
}

.proof_modal__date__calendar {
	flex: 1;
	padding-right: 3rem;
}

.proof_modal__date__time {
	border-left: 1px solid #deeeef;
	padding-left: 3rem;
}
.proof_modal__date__time.--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.proof_time__point:has(input:checked) {
	border: 1px solid #238a8a;
	background: #238a8a;
	color: #fff;
	opacity: 1;
}

.proof_modal__type__call__choose__item__image {
	font-size: 0;
}

.proof_modal__type__call__choose__item__image svg {
	height: auto;
	width: 1.45rem;
}

.proof_modal__type__call__choose__item input {
	position: absolute;
	opacity: 0;
}

.proof_modal__type__call__choose__item:has(input:checked) {
	border: 1px solid #238a8a;
	background: #238a8a;
	color: #fff;
}

.proof_modal__type__call__choose__item:has(input:checked) path {
	stroke: #fff;
}

.loaded .proof_modal__type__call__choose__item {
	transition: 0.35s;
}

.loaded .proof_modal__type__call__choose__item path {
	transition: 0.35s;
}

a.header__logo.header__logo--modal_proof {
	filter: brightness(0.6);
}

.proof_modal__top {
	padding: 1rem 0;
	margin-bottom: 1.75rem;
}

.proof_modal__top .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.proof_modal__booking.active {
	opacity: 1;
	pointer-events: all;
	transform: translate(0, 0rem);
}

.proof_modal__booking__section {
	height: 100%;
	overflow: scroll;
	padding-bottom: 2.5rem;
}
.proof_modal__booking__section::-webkit-scrollbar {
	display: none;
}

.proof_modal__booking__section {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.proof_modal__close.btn__close {
	font-size: 0;
}

.proof_modal__close.btn__close:before,
.proof_modal__close.btn__close:after {
	background: #182d2d;
}

.proof_modal__close.btn__close {
	top: 0.1rem;
	right: 0;
}

.proof_modal__close.btn__close:hover {
	opacity: 0.5;
}

.proof_calendar_modal .air-datepicker {
	width: 100%;
	border: none;
	max-width: 20rem;
	margin: 0 auto;
	font-size: 0.95rem;
}
.air-datepicker-cell .proof_calendar_modal .air-datepicker-nav--action path {
	stroke: #182d2d;
}

.proof_calendar_modal nav.air-datepicker-nav {
	border-bottom-color: transparent;
}

.proof_calendar_modal .air-datepicker-nav--title i {
	color: #182d2d;
}

.proof_calendar_modal .air-datepicker-nav--title {
	font-weight: 600;
	color: #182d2d;
}

.proof_calendar_modal .air-datepicker-body--cells.-days- {
	--adp-day-cell-height: 2.75rem;
}

.proof_calendar_modal .air-datepicker-cell.-current- {
	background: #deeeef;
	border-radius: 50%;
	color: #101a28;
}
.proof_calendar_modal .air-datepicker-cell.-selected- {
	background: #238a8a;
	border-radius: 30rem;
	color: #fff;
}

.proof_calendar_modal .air-datepicker-cell.-focus- {
	border-radius: 30rem;
	background: #deeeef;
}

.proof_calendar_modal .air-datepicker-cell.-selected-.-focus- {
	background: #182d2d;
}

.proof_time__list::-webkit-scrollbar {
	width: 3px;
}

.proof_time__list::-webkit-scrollbar-track {
	background-color: #eee;
}

.proof_time__list::-webkit-scrollbar-thumb {
	background: #248a8a;
}

.btn_form_x.btn_form_x--booking {
    max-width: 25rem;
}

.btn_form_x.btn_form_x--booking:hover {
    background: #365355;
    color: #fff;
}

.proof_modal__last__time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.proof_modal__last__time__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #192C2D;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.35; /* 133.333% */
}

.proof_modal__last__time__item__icon {
    font-size: 0;
}

.proof_modal__last__time__item__text {
    margin-top: 0.1rem;
}

.proof_modal__last__content__text a {
    color: #238a8a;
    font-weight: bold;
}
.proof_modal__last__content__text a:hover{
    color:inherit;
}

.cookie__modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #2F2F2F;
    font-size: 0.875rem;
    line-height: 1.125rem; /* 128.571% */
	z-index: 5;
}

.cookie__modal__content__title {
    color: #2F2F2F;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem; /* 125% */
    margin-bottom: 0.5rem;
}

.cookie__modal__content__info {
    flex: 1;
    max-width: 50rem;
}

.cookie__modal__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.cookie__modal__content__btns {
    gap: 0.75rem;
    display: flex;
}

.cookie__modal.hide_cookie {
    transform: translate(0,100%);
}

.loaded .cookie__modal {
    transition: 0.25s ease-in-out;
}

.cookie__modal__content__btns>* {
    width: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_x.btn_cookie__modal--x:hover,.btn_x.btn_cookie__modal--ghost:hover {
    color: #fff;
    background: #182d2d;
    border-color: #182d2d;
}

.btn_x.btn_cookie__modal--ghost {
    border-color: #182d2d;
    color: #182d2d;
}

@media screen and (max-width: 750px) {
	.proof_modal__date__row {
		flex-direction: column;
		gap: 3rem;
	}

	.proof_modal__date__time {
		border: none;
		padding: 0;
	}
	.proof_modal__date {
		max-width: 400px;
		margin: 0 auto;
	}

	.proof_modal__date__title {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.proof_time__list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.proof_time__point {
		width: calc(100% / 2 - 0.275rem);
	}

	.proof_modal__date__calendar {
		padding-right: 0;
	}

	.proof_modal__type__call__choose__list {
		flex-direction: column;
	}

	.proof_modal__step__title {
		font-size: 1.75rem;
		line-height: 1.1;
		margin-bottom: 1rem;
		text-align: center;
	}
}
