.home_promo__title {
	color: #73e9cd;
	text-align: center;
	font-size: 4rem;
	letter-spacing: 0.205rem;
	line-height: 1.15;
}

.home_promo__info {
	padding: 6rem 0 0rem;
}

.home_promo__title__2 {
	font-size: 6.25rem;
	font-weight: 700;
	/* 120% */
}

.home_promo__title__3 {
	color: #f9ad3b;
	font-family: 'Rock Salt';
	font-size: 6.25rem;
	/* 120% */
}

.home_promo__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.35rem;
	max-width: 27rem;
	width: 100%;
	margin: 2.5rem auto 0;
	gap: 1rem;
}

.home_promo__btn a {
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn_green_light {
	background: #bcffef;
	color: #365355;
	border-color: #bcffef;
}

.btn_green_light:hover {
	border-color: #248a8a;
	background: #248a8a;
	color: #fff;
}

.home_offer_block_1 {
	background: #deeeef;
	padding: 12.5rem 0;
	color: #192c2d;
	text-align: center;
}

.home_offer_block_1__title {
	text-align: center;
	font-size: 4rem;
	/* 90.625% */
	max-width: 60rem;
	margin: 0 auto 1.25rem;
	letter-spacing: 0.235rem;
	line-height: 1.15;
}

.home_offer_block_1__title__2 {
	font-weight: 700;
	font-size: 0.955em;
}

.home_offer_block_1__text {
	text-align: center;
	max-width: 30rem;
	margin: 0 auto;
	margin-bottom: 0.9rem;
}

.home_offer_block_1__btn a {
	flex: 1;
	justify-content: center;
}

.home_offer_block_1__btn {
	max-width: 26.5rem;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn_green_dark {
	background: #192c2d;
	color: #fff;
	border-color: #192c2d;
}

.btn_green_dark:hover {
	background: #268383;
	border-color: #268383;
}

.form__section__book_demo {
	background: #192c2d;
	color: #fff;
	padding: 12.5rem 0px 12.75rem;
}

.form__section__book_demo:before {
	position: absolute;
	left: 50%;
	background: #fff;
	width: 1px;
	content: '';
	height: 100%;
	top: 0;
}

.form__section__book_demo {
	position: relative;
}
.form__section__book_demo .container {
	display: flex;
	flex-wrap: wrap;
	gap: 11.87%;
}

.form__section__book_demo__contact__title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.135rem;
	margin-bottom: 6.3rem;
	max-width: 30rem;
}

.form__section__book_demo__contact {
	width: 45%;
}

.form__section__book_demo__contact__info {
	display: flex;
	flex-direction: column;
	gap: 4.5rem;
}

.form__section__book_demo__contact__item__title {
	font-weight: 400;
	margin-bottom: 0.45rem;
}

.form__section__book_demo__contact__item__value {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
	line-height: 1.1;
}

.form__section__book_demo__contact__item__value a {
	color: inherit;
	text-decoration: none;
}

.form__section__book_demo__contact__item__value a:hover {
	color: #248a8a;
}

.form__section__book_demo__form__title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 0.95; /* 87.5% */
	letter-spacing: 0.15rem;
	margin-bottom: 1.7rem;
}

.form__section__book_demo__form__block {
	flex: 1;
}

.field_x__row {
	display: flex;
	gap: 1rem;
}

.field_x {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.field_x__title {
	font-size: 0.85rem;
	font-weight: bold;
	margin-bottom: 0.35rem;
}

.field_x input,
.field_x textarea {
	width: 100%;
	padding: 0.9rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid #fff;
	background: transparent;
	color: #ffff;
}

.field_x textarea {
	min-height: 6.5rem;
	resize: vertical;
}

.field_x--checkbox {
	display: flex;
	font-size: 0.875rem;
	flex-wrap: wrap;
	gap: 0.75rem;
	position: relative;
	flex-direction: row;
	padding-top: 0.375rem;
	cursor: pointer;
}

.field_x--checkbox input {
	opacity: 0;
	position: absolute;
	left: 0;
}

.field_x--checkbox__view {
	width: 1.25rem;
	height: 1.25rem;
	border: 1px solid #fff;
}

.field_x--checkbox input:checked + .field_x--checkbox__view {
	background: #fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath fill='%23192c2d' fill-rule='evenodd' d='M20.614 5.649a1 1 0 0 1 .084 1.422L10.184 18.74a1 1 0 0 1-1.428.058l-6.084-5.727a1.008 1.008 0 0 1-.09-1.36 1.008 1.008 0 0 1 1.455-.126l4.72 4.246a1 1 0 0 0 1.412-.074l9.043-10.027a1 1 0 0 1 1.402-.082z' clip-rule='evenodd' opacity='1' data-original='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-size: 75%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.field_x.field_x--text {
	font-size: 0.875rem;
	line-height: normal;
	display: block;
}

.field_x.field_x--text a {
	color: #bcffef;
}

.field_x.field_x--text a:hover {
	text-decoration: none;
	color: inherit;
}

.field_x input::placeholder,
.field_x textarea::placeholder {
	color: #fff;
	opacity: 0.8;
}

.field_x input::-ms-input-placeholder,
.field_x textarea::-ms-input-placeholder {
	color: #fff;
}

.field_x__group {
	display: flex;
	flex-direction: column;
	gap: 1.65rem;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	background: transparent;
	border-color: #fff;
	height: auto;
	border-radius: 0.25rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-color: #fff transparent transparent transparent;
	border-width: 0.3rem 0.25rem 0 0.25rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: #fff;
	line-height: 1.2;
	padding: 0.9rem 1rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 100%;
	width: 2.5rem;
}

.select2-dropdown {
	background: #182d2d;
	border-color: #fff;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background: #fff;
	color: #182d2d;
	font-weight: bold;
}

.select2-results__option {
	padding: 0.4rem 0.77rem;
}

.select2-container--default.select2-container--open
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-color: transparent transparent #fff transparent;
	border-width: 0 0.25rem 0.3rem 0.25rem;
}

.select2-container--default .select2-results__option--selected {
	background: #248a8a;
}

.btn_form_x {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__white {
	color: #192c2d;
	font-size: 1rem;
	font-weight: 400;
	background: #fff;
}

.btn_form_x {
	gap: 0.75rem;
	padding: 1rem;
}

.btn_arrow:hover svg {
	transform: translate(0.25rem, 0);
}

.loaded .btn_arrow svg {
	transition: 0.25s;
}
.btn_arrow {
	display: inline-flex;
	align-items: center;
}

.btn_arrow svg {
	width: 1.25rem;
	height: auto;
	margin-top: 0.085rem;
}

.btn__white:hover {
	background: #248a8a;
	color: #fff;
	border-color: #248a8a;
}

.btn__white:hover path {
	fill: #fff;
}

.btn__white path {
	transition: 0.25s;
}

.select2-results__option:empty {
	display: none;
}

.trial_block__title {
	color: #f9ad3b;
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.25; /* 90.625% */
	letter-spacing: 0.15rem;
	margin-bottom: 0.45rem;
}

.trial_block__text {
	color: #c5e7e8;
	font-size: 1.25rem;
	line-height: 1.35; /* 130% */
	letter-spacing: 0;
	margin-bottom: 2.85rem;
}

.trial_block__info {
	max-width: 38.7rem;
	margin: 0 auto;
	text-align: center;
}

.trial_block__add_text {
	font-size: 1.75rem;
	line-height: 1.5;
	letter-spacing: 0.04rem;
	margin-bottom: 1.25rem;
}

.btn_trial {
	width: 13rem;
	justify-content: center;
	padding: 0.85rem;
	gap: 0.5rem;
}

.home__fly_card {
	border-bottom: 1px solid #deeeef;
	padding: 12.5rem 0;
}

.home_faq .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2.5rem;
}

.home_faq__title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.15; /* 90.625% */
	margin-bottom: 0.5rem;
}

.home_faq__col_2 {
	flex: 1;
	max-width: 54.375rem;
}

.home_faq__col_1 {
	width: 20rem;
}

.home_faq {
	padding: 12rem 0;
}

.home_faq__text {
	letter-spacing: 0.0085rem;
	line-height: 1.4;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.btn_faq {
	width: 100%;
	max-width: 12.85rem;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.9rem;
	align-items: center;
}

.home_faq__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 0.5rem;
}

.home_faq__item {
	border-radius: 0.25rem;
	border: 1px solid rgba(8, 115, 120, 0.6);
	padding: 1rem 2rem;
}

.home_faq__item__sup_title {
	color: #73e9cc;
	font-size: 0.855rem;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 0.6rem;
}
.home_faq__item__sup_title span {
	text-decoration: underline;
}

.home_faq__item__top {
	position: relative;
	padding-right: 2rem;
	cursor: pointer;
}

.home_faq__item__btn:after,
.home_faq__item__btn:before {
	content: '';
	position: absolute;
	width: 65%;
	height: 0.05rem;
	background: #fff;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.home_faq__item__btn {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	position: absolute;
	top: 0.7rem;
}

.home_faq__item__btn:after {
	transform: rotate(90deg);
}

.home_faq__item__title {
	color: #fff;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.2; /* 133.333% */
}

.home_faq__item__content {
	display: none;
	padding: 1.75rem 0 1rem;
	font-size: 0.875rem;
	line-height: 1.4;
}
.home_faq__item__content >* {
    margin-bottom: 1.15rem;
}

.home_faq__item__content >*:last-child {
    margin-bottom: 0;
}

.home_faq__item__content ul,.home_faq__item__content ol {
    padding-left: 1rem;
}

.home_faq__item__content li {
    margin-bottom: 0.85rem;
}

.home_faq__item__content li:last-child {
    margin-bottom: 0;
}

.home_faq__item:hover {
	border-color: #73e9cc;
}

.loaded .home_faq__item {
	transition: border 0.35s;
}

.home_faq__item__content a {
	color: #73e9cd;
}

.home_faq__item__content a:hover {
	text-decoration: none;
	color: inherit;
}

.home_faq__item.active {
	border-color: #73e9cc;
}

.home_faq__item.active .home_faq__item__btn:after {
	width: 0;
}

.home_faq__item__btn:after {
	transition: 0.35s;
}

.home__triggers__title {
	color: #fff;
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	line-height: 1.375;
	letter-spacing: 0.165rem;
	margin-bottom: 4rem;
}

.home__triggers__title_2 {
	color: #c5e7e8;
	text-align: center;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 3.625rem; /* 90.625% */
}

.home__triggers {
	padding: 2.5rem 0 12.5rem;
}

.home__triggers__list {
	display: flex;
	gap: 1rem;
	margin-bottom: 13.5rem;
}

.home__triggers__item {
	border-radius: 0.5rem;
	border: 1px solid rgba(8, 115, 120, 0.6);
	flex: 1;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.home__triggers__item__icon {
	font-size: 0;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid rgba(8, 115, 120, 0.6);
	margin-bottom: 1.4rem;
}

.home__triggers__item__icon img {
	width: 100%;
	height: auto;
}

.home__triggers__item__title {
	font-size: 1.75rem;
	line-height: 1.2; /* 114.286% */
	color: #c5e7e8;
}

.home__triggers__item__text {
	margin-top: 0.8rem;
	line-height: 1.4;
}

.home__triggers__item__text p {
	margin-bottom: 1rem;
}

.home__triggers__item__text p:last-child {
	margin-bottom: 0;
}

.trial_block__sup_title {
	color: #c5e7e8;
	font-size: 1.25rem;
	line-height: 1.25; /* 130% */
	margin-bottom: 0.25rem;
}

.home__triggers__item__title__1 {
	color: #73e9cd;
}

.trial_block.trial_block--0 .trial_block__info {
	max-width: 45rem;
}

.home__triggers__item__dot {
	width: 0.65rem;
	height: 0.65rem;
	background: #74e9cd;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

.home__triggers__item__dot--top {
	top: 0.9rem;
	left: -1.25rem;
}

.home__triggers__item__info {
	position: relative;
	flex: 1;
}

.home__triggers__item__dot--bottom {
	right: -0.85rem;
	bottom: 0.85rem;
}

.home__triggers__item__dot:before {
	content: '';
	position: absolute;
	width: 2.35rem;
	height: 0.1rem;
	background: #74e9cd;
	top: 0.22rem;
	transform: scaleX(0);
	transform-origin: 0 0;
}

.home__triggers__item__dot--top:before {
	right: 0;
	transform: scaleX(0);
	transform-origin: 0 0;
}

.home__triggers__item__dot--top:before {
	width: 1.975rem;
	top: 0.25rem;
}

.home__triggers__item__dot--bottom:before {
	left: 0;
	width: 2.45rem;
}

.home__triggers__item.active .home__triggers__item__info:after {
	transform: scaleY(1);
}

.loaded .home__triggers__item__info:after {
	transition: 0.35s ease-in-out 0.35s;
}

.loaded .home__triggers__item__dot:before {
	transition: 0.35s ease-in-out;
}

.home__triggers__item.active .home__triggers__item__dot:before {
	transform: scaleX(1);
}

.loaded .home__triggers__item__dot--top:before {
	transition: 0.35s ease-in-out;
}

.home__triggers__item__info:after {
	content: '';
	position: absolute;
	width: 0.1rem;
	height: calc(100% - 2.4rem);
	background: #73e9cd;
	top: 1.2rem;
	right: -2.65rem;
	transform: scaleY(0);
	transform-origin: 100% 100%;
}

.home__triggers__item:last-child .home__triggers__item__info:after {
	display: none;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__placeholder {
	color: #fff;
}

.home__fly_card__section__item--1 .home__fly_card__section__item__inn {
	transform: rotate(-9.5deg);
}

.home__fly_card__section__item__inn {
	width: 19.5rem;
	font-size: 0;
}

.home__fly_card__section__item__inn img {
	width: 100%;
	height: auto;
}

.home__fly_card__section {
	white-space: nowrap;
	position: relative;
}

.home__fly_card__section__item {
	display: inline-block;
	position: absolute;
}

.home__fly_card__section__item--2 .home__fly_card__section__item__inn {
	transform: rotate(9.75deg);
}

.home__fly_card__section__item--1 {
	top: -4.25rem;
	left: 26.5rem;
}

.home__fly_card__section__item--2 {
	left: 60.5rem;
	top: -4.25rem;
}

.home__fly_card__section__item--3 .home__fly_card__section__item__inn {
	transform: rotate(-10.5deg);
}

.home__fly_card__section__item--3 {
	left: 90rem;
	top: -4.5rem;
}

.home__fly_card__section__item--4 {
	left: 140rem;
	top: -1rem;
}

.home__fly_card__section__item--5 {
	left: 200rem;
	top: -3rem;
}

.home__fly_card__section__item--4 .home__fly_card__section__item__inn {
	transform: rotate(5.75deg);
}

.home__fly_card__section__item--5 .home__fly_card__section__item__inn {
	transform: rotate(6.75deg);
}

.home__fly_card__section__list {
	padding-bottom: 29.25rem;
}

.home__map {
	border-radius: 2rem;
	background: #deeeef;
	padding: 5rem 0 17.5rem;
	text-align: center;
	color: #192c2d;
	margin-bottom: -16.5rem;
}

.home__map__title_x {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.1; /* 90.625% */
	max-width: 60rem;
	margin: 0 auto;
	margin-bottom: 1.75rem;
}

.home__map__title_x__2 {
	font-weight: 400;
}

.home__map__text {
	max-width: 30rem;
	margin: 0 auto 2rem;
}

.home__map__title__1 {
	color: #f9ad3b;
	font-size: 2rem;
	line-height: 1; /* 150% */
}

span.home__map__title__2 {
	color: #365355;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.15; /* 131.25% */
	margin-left: 0.75rem;
}

.home__map__x {
	padding: 6rem 0 3rem;
	font-size: 0;
}
.home__map__x__animate {
	position: absolute;
	top: 2.5rem;
	left: -14.5rem;
	right: -6rem;
	height: auto;
}

.home__map__x {
	position: relative;
}

.home__map__x__bg svg {
	width: 100%;
	height: auto;
}

.home_faq__item__sup_title a {
	color: inherit;
	text-decoration: none;
}

.home_faq__item__sup_title a:hover {
	color: #fff;
}
.home_faq__item__sup_title a:hover span {
	text-decoration: none;
}

@media screen and (max-width: 1000px) {

	.form__section__book_demo:before {
		left: 35%;
	}
	.home__map__x__animate {
		left: -16.5vw;
		top: 5.35rem;
		width: 123.5%;
		right: auto;
	}

	.home__map__x {
		padding: 100px 0;
	}
	.home__fly_card__section__item__inn {
		width: 30vw;
	}

	.home__fly_card__section__item--1 .home__fly_card__section__item__inn {
		transform: rotate(-9.5deg) translate(-2.5vw, 0);
	}

	.home__fly_card__section__item--2 .home__fly_card__section__item__inn {
		transform: rotate(9deg) translate(-1.5vw, 0px);
	}

	.home__fly_card__section__item--2 {
		top: -3.25rem;
	}

	.home__fly_card__section__item--3 .home__fly_card__section__item__inn {
		transform: rotate(-10.5deg) translate(-2rem, 0);
	}

	.home__fly_card__section__item--4 .home__fly_card__section__item__inn {
		transform: rotate(5.75deg) translate(-2vw, 0);
	}

	.home__fly_card__section__item--5 .home__fly_card__section__item__inn {
		transform: rotate(-4.25deg) translate(-3rem, 0);
	}

	.home__fly_card__section__item--5 {
		top: -4rem;
	}
	.home_promo__title {
		font-size: 30px;
		letter-spacing: 0;
		line-height: 1.15;
	}

	.home_promo__info {
		padding: 85px 0 0;
	}

	.home_promo__title__2 {
		font-size: 1.5em;
	}

	.home_promo__title__3 {
		font-size: 1.25em;
		margin-left: 10px;
	}

	.home_promo__btn {
		margin-top: 30px;
		max-width: 320px;
	}

	.home_offer_block_1__title {
		font-size: 40px;
		letter-spacing: 0;
		max-width: 600px;
		line-height: 1.15;
		margin-bottom: 20px;
	}

	.home_offer_block_1 {
		padding: 100px 0 115px;
	}

	.home_offer_block_1__text {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	.form__section__book_demo__contact__title {
		font-size: 40px;
		letter-spacing: 0;
		margin-bottom: 50px;
		line-height: 1.15;
	}

	.form__section__book_demo__contact__item__title {
		margin-bottom: 10px;
	}

	.form__section__book_demo__contact__item__value {
		font-size: 24px;
		letter-spacing: 0;
	}

	.form__section__book_demo__contact__info {
		gap: 40px;
	}

	.form__section__book_demo {
		padding: 85px 0;
	}

	.form__section__book_demo__contact {
		width: 275px;
	}

	.form__section__book_demo .container {
		gap: 50px;
		justify-content: space-between;
	}

	.form__section__book_demo__form__title {
		font-size: 40px;
		letter-spacing: 0;
	}

	.form__section__book_demo__form {
		max-width: 500px;
	}

	.form__section__book_demo__form__block {
		max-width: 500px;
		padding-right: 0;
	}
	.home_faq {
		padding: 100px 0 115px;
	}

	.home_faq__title {
		font-size: 40px;
		margin-bottom: 20px;
	}

	.home_faq__text {
		margin-bottom: 30px;
		line-height: 1.45;
	}

	.home__fly_card {
		padding: 100px 0 115px;
	}

	.trial_block__add_text {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.trial_block__title {
		font-size: 43px;
		margin-bottom: 15px;
	}

	.trial_block__text {
		font-size: 15px;
		max-width: 480px;
		margin: 0px auto 20px;
	}
	.home__triggers__item__title {
		font-size: 1.25rem;
	}

	.trial_block__sup_title {
		margin-bottom: 12px;
		font-size: 16px;
	}

	.home__triggers__list {
		margin-bottom: 100px;
	}

	.home__triggers {
		padding: 50px 0 100px;
	}

	.home__triggers__item__text {
		font-size: 12.5px;
		line-height: 1.35;
	}
	.home__fly_card__section__list {
		padding-bottom: 350px;
	}

	.home__map {
		padding-bottom: 270px;
	}
	.home__map__title_x {
		font-size: 38px;
		margin-bottom: 15px;
		max-width: 600px;
	}

	.home__triggers__title {
		font-size: 40px;
		letter-spacing: 0;
		line-height: 1.15;
		margin-bottom: 40px;
	}

	.home__triggers__title_2 {
		font-size: 0.95em;
	}

	.home__triggers__item__icon {
		padding: 12px 10px 6px;
		font-size: 0;
	}

	.home__triggers__item__info:after {
		top: 0.85rem;
		height: calc(100% - 2.05rem);
	}

	.home__triggers__item__dot--top {
		top: 0.5rem;
	}

	.home__triggers__item__dot--top:before {
		width: 2.025rem;
	}
	.home__triggers__item__dot--bottom {
		right: -1.25rem;
	}

	.home__triggers__item__dot--bottom:before {
		width: 2.025rem;
	}
}

@media screen and (max-width: 850px) {
	.form__section__book_demo:before {display: none;}
	.home__triggers__item {
		flex: none;
		width: 300px;
	}

	.home__triggers__list {
		overflow: scroll;
		margin: 0 -15px 100px;
		padding: 0 15px;
	}

	.home__triggers__list::-webkit-scrollbar {
		display: none;
	}

	.home__triggers__list {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.home__triggers__item__info {
		padding-bottom: 30px;
	}
	.home__fly_card__section__list {
		padding: 0;
		height: 37.5vw;
		margin-top: 22vw;
		position: relative;
	}

	.home__map {
		padding-bottom: 30vw;
	}

	.home__fly_card__section {
		height: 100%;
	}
}

@media screen and (max-width: 700px) {
	.home_offer_block_1__title {
		font-size: 24px;
		max-width: 430px;
	}

	.home_offer_block_1 {
		padding: 75px 0;
	}

	.home_offer_block_1__text {
		font-size: 14px;
	}

	.home_offer_block_1 {
		padding: 60px 0;
	}

	.home_offer_block_1__btn a {
		font-weight: 500;
	}

	.form__section__book_demo {
		padding: 60px 0;
	}

	.form__section__book_demo__contact__title {
		font-size: 32px;
		max-width: 200px;
		margin-bottom: 35px;
	}

	.form__section__book_demo__contact {
		width: 100%;
	}

	.form__section__book_demo .container {
		flex-direction: column;
		gap: 64px;
	}

	.form__section__book_demo__contact__info {
		gap: 32px;
	}

	.form__section__book_demo__contact__item__value {
		font-size: 20px;
	}

	.form__section__book_demo__contact__item__title {
		margin-bottom: 10px;
	}

	.form__section__book_demo__form__title {
		font-size: 32px;
		margin-bottom: 35px;
	}

	.field_x__group {
		gap: 22px;
	}

	.form__section__book_demo__form__block {
		max-width: 100%;
	}

	.form__section__book_demo__form {
		max-width: 100%;
	}

	.field_x__row {
		flex-direction: column;
		gap: 22px;
	}
	.home_faq__col_2 {
		width: 100%;
		flex: none;
	}

	.home_faq__col_1 {
		width: 100%;
		max-width: 350px;
	}

	.home_faq {
		padding: 60px 0;
	}

	.home_faq__title {
		font-size: 32px;
	}

	.home_faq__text {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 24px;
	}

	.home_faq .container {
		gap: 25px;
	}

	.trial_block__title {
		font-size: 32px;
		letter-spacing: 0;
	}

	.trial_block__text {
		letter-spacing: 0;
		max-width: 320px;
		font-size: 13.5px;
		line-height: 1.45;
		margin-bottom: 15px;
	}

	.trial_block__add_text {
		font-size: 16px;
		letter-spacing: 0;
	}

	.home__fly_card {
		padding: 60px 0;
	}

	.home_faq__item__title {
		font-size: 1.05rem;
		line-height: 1.35;
	}

	.home_faq__item {
		padding: 2rem 1.75rem 1.25rem;
	}

	.home_faq__item__top {
		padding-right: 40px;
	}

	.home_faq__item__sup_title {
		margin-bottom: 0.4rem;
	}

	.btn_faq {
		max-width: 410px;
	}
	.trial_block__sup_title {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.trial_block.trial_block--0 .trial_block__add_text {
		font-size: 14px;
		max-width: 200px;
		line-height: 1.4;
		margin: 0 auto 20px;
	}

	.home__triggers {
		padding: 50px 0 75px;
	}

	.home__triggers__title {
		font-size: 28px;
		line-height: 1.15;
	}

	.home__triggers__title_2 {
		line-height: 1;
		margin-top: 10px;
		font-size: 0.8em;
	}
}

@media screen and (max-width: 550px) {
	.home_promo__title {
		font-size: 24px;
		line-height: 1.25;
	}

	.home_promo__info {
		padding: 40px 0 35px;
	}

	.home_promo__title br {
		display: none;
	}

	.home_promo__title__2,
	.home_promo__title__3 {
		font-size: 1em;
	}
	.home__fly_card__section__list {
		margin-top: 135px;
	}

	.home__map {
		padding-bottom: 145px;
	}

	.home__fly_card__section__item--3 .home__fly_card__section__item__inn {
		transform: rotate(5deg) translate(-1.5rem, 1.5rem);
	}

	.home__fly_card__section__item--2 .home__fly_card__section__item__inn {
		transform: rotate(-4.5deg) translate(-0.5rem, 0);
	}

	.home__fly_card__section__item--1 .home__fly_card__section__item__inn {
		transform: rotate(2.5deg) translate(-1.5vw, 1vw);
	}

	.home__fly_card__section__item--4 .home__fly_card__section__item__inn {
		transform: rotate(5.75deg) translate(-1vw, -4vw);
	}

	.home__fly_card__section__item--5 .home__fly_card__section__item__inn {
		transform: rotate(-4.25deg) translate(-2rem, 1.15rem);
	}

	.home__map__x {
		padding: 50px 0 45px;
	}

	.home__map__title_x {
		font-size: 27.5px;
	}

	.home__map__x__animate {
		top: 2.5rem;
	}
}

@import 'animate_screen.scss';
