<div class="help__content__block js_help__content__block active">

    <div class="help__content__block__tabs js_help__content__block__tabs">
        <a href="javascript:void(0)" class="help__content__block__tab active">
            <span class="help__content__block__tab__view"></span>
            <span class="help__content__block__tab__title">Account and billing</span>
            <span class="help__content__block__tab__icon">
                <img src="images/pages/help/1.svg" alt="">
            </span>
        </a>
        <a href="javascript:void(0)" class="help__content__block__tab">
            <span class="help__content__block__tab__view"></span>
            <span class="help__content__block__tab__title">Technical</span>
            <span class="help__content__block__tab__icon">
                <img src="images/pages/help/2.svg" alt="">
            </span>
        </a>
    </div>

    <div class="help__content__block__list">

        <div class="help__content__block__item active">
            <div class="help__accordion js_help__accordion">
                <div class="help__accordion__menu js_help__accordion__menu">
                    <div class="help__accordion__menu__title">Topic</div>
                    <ul>
                        <li><a href="javascript:void(0)" class='active'>General FAQs</a></li>
                        <li><a href="javascript:void(0)">Registration</a></li>
                        <li><a href="javascript:void(0)">Templates</a></li>
                        <li><a href="javascript:void(0)">Proofs</a></li>
                        <li><a href="javascript:void(0)">Managing Users and Locations</a></li>
                        <li><a href="javascript:void(0)">Managing Proofs and Account</a></li>
                        <li><a href="javascript:void(0)">Billing</a></li>
                        <li><a href="javascript:void(0)">API and Sharing</a></li>
                    </ul>
                </div>
                <div class="help__accordion__main js_help__accordion__main">
                    @@include('./section_1/list/x.html',{"title": "General FAQs","activeClass":"active"})
                    @@include('./section_1/list/x.html',{"title": "Registration","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Templates","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Proofs","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Managing Users and Locations","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Managing Proofs and Account","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Billing","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "API and Sharing","activeClass":""})
                </div>
            </div>
        </div>

        <div class="help__content__block__item">
            <div class="help__accordion js_help__accordion">
                <div class="help__accordion__menu js_help__accordion__menu">
                    <div class="help__accordion__menu__title">Topic</div>
                    <ul>
                        <li><a href="javascript:void(0)" class='active'>General FAQs 2</a></li>
                        <li><a href="javascript:void(0)">Registration 2</a></li>
                        <li><a href="javascript:void(0)">Templates 2</a></li>
                        <li><a href="javascript:void(0)">Proofs 2</a></li>
                        <li><a href="javascript:void(0)">Managing Users and Locations 2</a></li>
                        <li><a href="javascript:void(0)">Managing Proofs and Account 2</a></li>
                        <li><a href="javascript:void(0)">Billing 2</a></li>
                        <li><a href="javascript:void(0)">API and Sharing 2</a></li>
                    </ul>
                </div>
                <div class="help__accordion__main js_help__accordion__main">
                    @@include('./section_1/list/x.html',{"title": "General FAQs 2","activeClass":"active"})
                    @@include('./section_1/list/x.html',{"title": "Registration 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Templates 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Proofs 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Managing Users and Locations 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Managing Proofs and Account 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "Billing 2","activeClass":""})
                    @@include('./section_1/list/x.html',{"title": "API and Sharing 2","activeClass":""})
                </div>
            </div>
        </div>
    </div>
</div>