.text__content {
    background: #FFFFFF;
    color: #484848;
    padding: 2.6rem 0 11.05rem;
}

.text__content .container {
    max-width: 56.85rem;
}

.default__text h3 {
    color: #2F2F2F;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25; /* 133.333% */
    margin-bottom: 1.05rem;
    letter-spacing: -0.005rem;
}

.default__text {
    letter-spacing: -0.0015rem;
    line-height: 1.5;
}

.default__text p {
}

.default__text p {
    margin-bottom: 1.5rem;
}

.default__text hr {
    background: #E4EFF3;
    height: 1px;
    border: none;
    width: 100%;
    margin: 1.9rem 0 2.1rem;
}

.default__text ul,.default__text ol {
    padding-left: 1.5rem;
}

.text__content a {
    color: #238A8A;
}

.text__content a:hover {
    color: inherit;
    text-decoration: none;
}
.default__text>*:last-child {
    margin-bottom: 0;
}
@media screen and (max-width:1000px){
    .text__content {
    padding-bottom: 100px;
}
}
@media screen and (max-width:700px){
.default__text h3 {
    font-size: 1.35rem;
    margin-bottom: 1.35rem;
}

.default__text ul, .default__text ol {
    padding-left: 15px;
}
    .text__content {
    padding-bottom: 45px;
}
    }



