.help__content__top__tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	border-bottom: 1px solid #deeeef;
}

.help__content__top__tab {
	color: #192c2d;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4; /* 133.333% */
	text-decoration: none;
	flex: 1;
	text-align: center;
	padding: 0.395rem;
	border-bottom: 2px solid #238a8a;
	border-color: transparent;
}

.help__content {
	background: #fff;
	padding: 2.5rem 0 7.5rem;
	color: #2f2f2f;
}

.help__content__top__tab.active {
	border-color: #238a8a;
}

.help__content__block__tabs {
	display: flex;
    gap: 1rem;
    padding-top: 2.5rem;
    max-width: 42.5rem;
    margin: 0 auto 2.5rem;
}

.help__content__block__tab {
	border-radius: 0.25rem;
	border: 1px solid #deeeef;
	flex: 1;
	display: flex;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	color: #192c2d;
	font-weight: 400;
	line-height: 1.2;
	text-decoration: none;
}

.help__content__block__tab__icon {
	font-size: 0;
	width: 2rem;
	position: relative;
}

.help__content__block__tab__title {
	flex: 1;
	padding-right: 1rem;
}

.help__content__block__tab__view {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	border: 1.5px solid;
	position: relative;
}

.help__content__block__tab:hover {
	background: #248a8a;
	border-color: #248a8a;
	color: #fff;
}

.help__content__block__tab__icon img {
	width: 100%;
	height: auto;
	filter: brightness(0.25);
}

span.help__content__block__tab__icon:before {
	content: '';
	position: absolute;
	left: -1rem;
	height: 100%;
	top: 0;
	background: #192c2d;
	width: 1px;
}

.help__content__block__tab.active {
	border: 1px solid #365355;
	background: #365355;
	color: #fff;
}

.help__content__block__tab.active .help__content__block__tab__icon img {
	filter: brightness(0) invert(1);
}

.help__content__block__tab.active .help__content__block__tab__icon:before {
	background: #fff;
}

.help__content__block__tab__view:before {
	opacity: 0;
	content: '';
	position: absolute;
	left: 14%;
	top: 14%;
	right: 14%;
	bottom: 14%;
	background: #fff;
	border-radius: 50%;
}

.help__content__block__tab.active .help__content__block__tab__view:before {
	opacity: 1;
}

.help__content__block__tab:hover .help__content__block__tab__icon img {
	filter: brightness(0) invert(1);
}
.help__content__block__tab:hover .help__content__block__tab__icon:before {
	background: #fff;
}

.help__content__top__tab:hover {
	border-color: #238a8a;
	color: #238a8a;
}

.help__accordion {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem 4rem;
}

.help__accordion__main {
	flex: 1;
}

.help__accordion__menu {
	width: 19.75rem;
    background: #DEEEEF;
    border-radius: 0.5rem;
	padding-bottom: 2.5rem;
}

.help__accordion__menu ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem;
}

.help__accordion__menu__title {
    color: #192c2d;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
}

.help__accordion__menu ul a {
    padding: 1.25rem 1rem;
    display: flex;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 1px solid rgba(8, 115, 120, 0.20);
}

.help__accordion__section__title {
	color: #192c2d;
	font-family: DM Sans;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5rem; /* 133.333% */
	margin-bottom: 1.5rem;
}

.help__accordion__line__top {
	border-radius: 0.25rem;
	border: 1px solid #deeeef;
	background: #fff;
	display: flex;
	padding: 1rem 1.5rem;
	cursor: pointer;
	font-weight: 700;
	position: relative;
}

.help__accordion__line__top:hover {
	border: 1px solid #238a8a;
	background: #238a8a;
	color: #fff;
}

.help__accordion__line__content {
	display: none;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #238a8a;
	background: #fff;
	padding: 1rem;
}

.help__accordion__section__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.loaded .help__accordion__line__top {
	transition: 0.35s ease-in-out;
}

.help__accordion__section.active {
	display: block;
}

.help__accordion__section {
	display: none;
}

.help__content__block__item.active {
	display: block;
}

.help__content__block__item {
	display: none;
}

.help__content__block.active {
	display: block;
}

.help__content__block {
	display: none;
}

.help__accordion__menu ul a:hover{
	color: #248a8a;
}
.help__accordion__menu ul a.active {
	background: #248a8a;
	color:#fff;
	border-radius: 0.5rem;
}


.help__accordion__line__icon {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 0;
	width: 2rem;
	height: 2rem;
}

.help__accordion__line__icon:before,
.help__accordion__line__icon:after {
	content: '';
	width: 40%;
	height: 2px;
	background: #000;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	border-radius: 10px;
	transition: 0.35s;
}

.help__accordion__line__icon:after {
	transform: rotate(90deg);
}

.help__accordion__line.active .help__accordion__line__icon:after {
	height: 0;
}

.help__accordion__line.active .help__accordion__line__content {
	display: block;
}

.help__accordion__line.active .help__accordion__line__icon:after,
.help__accordion__line.active .help__accordion__line__icon:before,
.help__accordion__line:hover .help__accordion__line__icon:after,
.help__accordion__line:hover .help__accordion__line__icon:before {
	background: #fff;
}
.help__accordion__line.active .help__accordion__line__top {
	border: 1px solid #238a8a;
	background: #238a8a;
	color: #fff;
}

.field_x__group--black .select2-container--default .select2-selection--single {
	border-color: #101a28;
	color: #101a28;
}

.field_x__group--black
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: #2f2f2f;
}

.field_x__group--black
	.select2-container--default
	.select2-selection--single
	.select2-selection__placeholder {
	color: #101a28;
}

.field_x__group--black
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-color: #101a28 transparent transparent transparent;
}

.field_x__group--black textarea {
	border-color: #182d2d;
	background: #fff;
	color: #182d2d;
}
.field_x__group--black
	.select2-container--default.select2-container--open
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-color: transparent transparent #101a28 transparent;
}

.select2-dropdown {
	border-color: #182d2d;
	background: #fff;
	color: #182d2d;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background: #182d2d;
	color: #fff;
}

.select2-container--default .select2-results__option--selected {
	color: #fff;
}

.help__form__section {
	max-width: 42.5rem;
	margin: 0 auto;
}

.help__form__section__text {
	margin-bottom: 2.5rem;
}

.btn_form_x--help {
    max-width: 20rem;
}

.btn_form_x--help:hover {
    background: #365355;
    color: #fff;
}

@media screen and (max-width: 700px) {
	.help__accordion__main {
		width: 100%;
		flex: none;
	}

	.help__content__top__tab {
		font-size: 1.15rem;
	}

	.help__content {
		padding: 2rem 0;
	}

	.help__content__block__tabs {
		padding-top: 1rem;
		flex-direction: column;
		gap: 0.5rem;
	}

	.help__accordion__menu {
		width: 100%;
		border: 1px solid #deedef;
		border-radius: 6px;
		margin-bottom: 1.5rem;
		overflow: hidden;
		padding-bottom: 0;
	}

	.help__accordion__menu ul a {
		padding: 1rem;
	}

	.help__accordion__menu ul {
		padding: 0;
		overflow: hidden;
		position: relative;
	}

	.help__accordion__menu ul li:last-child a {
		border: navajowhite;
	}

	.help__accordion__menu__title {
		padding: 1.15rem 1rem;
		background: #192c2d;
		color: #fff;
		font-size: 1rem;
		margin-bottom: 0;
	}

	.help__accordion__section__title {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.help__accordion__line__title {
		font-size: 13.5px;
	}

	.help__accordion__line__top {
		padding: 0.9rem 2.5rem 0.9rem 1rem;
	}

	.help__accordion__section__list {
		gap: 0.75rem;
	}

	.help__accordion__line__content {
		font-size: 0.85rem;
		line-height: 1.5;
	}
}
