<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="footer_menu__section">
            <div class="footer_menu">
                <div class="footer_menu__title">Resources</div>
                <ul>
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Developers/ APLs</a></li>
                    <li><a href="">Proof Docs</a></li>
                    <li><a href="">Server Status</a></li>
                </ul>
            </div>

            <div class="footer_menu">
                <div class="footer_menu__title">Company</div>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Brand Assets</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_info">
            <a href="" class="footer_logo">
                <img src="images/logo.svg" alt="main logo">
            </a>
            <div class="footer_apps_logo">
                <a href="">
                    <img src="images/icons/apps/apple.png" alt="">
                </a>
                <a href="">
                    <img src="images/icons/apps/android.png" alt="">
                </a>
            </div>
            <div class="footer_copyright">© 2023 Proofactive All rights reserved</div>
        </div>
    </div>
</footer>


@@include('modal.html')


<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/lottie-player.js"></script>
<script src="js/vendor/fancybox.umd.js"></script>
<script src="js/vendor/nouislider.min.js"></script>
<script src="js/vendor/gsap.min.js"></script>
<script src="js/vendor/ScrollTrigger.min.js"></script>
<script src="js/vendor/select2.min.js"></script>
<script src="js/vendor/slick.min.js"></script>
<script src="js/vendor/air-datepicker.js"></script>
<script src="js/main.js?2"></script>
<script src="js/registration.js"></script>

<script src="js/animate.js?2"></script>
