<header class="header_main js_header" data-header>
    <div class="container">

        <a href="" class="header__logo">
            <!-- <img src="images/logo.svg" alt="main logo"> -->
            <lottie-player src="images/logo.json" background="transparent"  speed="1"   autoplay></lottie-player>
        </a>

        <div class="header__info">
            <div class="header__menu">
                <ul>
                    <li class="active"><a href="">Features</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>

            <div class="header__btn__block">
                <a href="javascript:void(0)" class="btn_default btn_x btn_ghost btn__header_1" data-show_booking>Book a demo</a>
                <a href="javascript:void(0)" class="btn_default btn_x btn_green btn__header_2" data-show_booking>Log in</a>
            </div>

            <button class="header_btn_menu btn_menu js_btn_menu">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>



    </div>
</header>

<!-- end header -->
