<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">


<link rel="icon" type="image/png" sizes="128x128" href="images/favicon/favicon-128x128.png">
<link rel="icon" type="image/png" sizes="64x64" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#365355">
<meta name="theme-color" content="#365355">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Rock+Salt&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/vendor/nouislider.min.css">
<link rel="stylesheet" href="css/vendor/select2.min.css">
<link rel="stylesheet" href="css/vendor/slick.css">
<link rel="stylesheet" href="css/vendor/air-datepicker.css">

<link rel="stylesheet" href="css/vendor/fancybox.css">
<link rel="stylesheet" href="css/app.min.css?2">