.login_registration .header_main {
	display: none;
}

body.login_registration {
	background: #fff;
	color: #101a28;
	padding: 0;
}

.login__page__section {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-height: 100svh;
	padding-right: 23.75rem;
}

.login__page__section__info {
	flex: 1;
	padding: 4.5rem 0;
	max-width: 40.5rem;
	margin: 0;
	padding-left: 13.75rem;
}

.login__page__section__image {
	position: absolute;
	width: calc((100vw - 84.5rem) / 2 + 25rem);
	left: calc(50% + 17.3rem);
	top: 0;
	bottom: 0;
	object-fit: cover;
}

.login__page__section__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

a.header__logo.header__logo--login {
	filter: brightness(0.65);
}

body.login_registration .main_footer {
	display: none;
}

.login__page__content__title {
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.08rem;
	margin-bottom: 1rem;
}

.login__page__content {
	padding: 3rem 0px;
	min-height: 37.5rem;
	display: flex;
	flex-direction: column;

}

.login__page__content__top {
	margin-bottom: 1.75rem;
}

.btn_ghost__google {
	border: 1px solid;
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.65rem;
	justify-content: center;
}

.login_form__line_text {
	text-align: center;
	position: relative;
	margin: 1.6rem 0;
	font-weight: 500;
}

.login_form__line_text span {
	background: #fff;
	position: relative;
	padding: 0 1rem;
}

.login_form__line_text:before {
	content: '';
	width: 100%;
	height: 0.05rem;
	background: #000;
	top: 53%;
	transform: translate(0, -50%);
	position: absolute;
	left: 0;
}

.login_form__step.active {
	display: block;
}

.login_form__step {
	display: none;
}

.login__page__section__top {
	position: absolute;
	left: 0;
	width: calc(100% - 25rem);
	top: 0;
	padding: 1.45rem 0;
}

.btn_ghost__google:hover {
	border-color: #101a28;
	background: #101a28;
	color: #fff;
}

.btn_ghost__google:hover path {
	fill: #fff;
}

.btn_ghost__google path {
	transition: 0.35s;
}

.login__page__section__bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #898989;
	font-size: 0.875rem;
	padding: 1.25rem 0 2.6rem;
}

.login__page__section__copyright a {
	color: inherit;
}

.login__page__section__copyright a:hover {
	color: #000;
	text-decoration: none;
}

.field_x__group--black .field_x input {
	color: #101a28;
	border-color: #101a28;
}

.field_x__group--black .field_x input::placeholder {
	color: #101a28;
	opacity: 0.35;
}

.btn_form_x_login {
	justify-content: center;
}

.btn_form_x_login:hover {
	border-color: #192c2d;
	background: #192c2d;
	color: #fff;
}

.btn_ghost__google svg {
	width: 1rem;
	height: auto;
}

.btn_show_field_x--password {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 128 128' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='m79.891 65.078 7.27-7.27C87.69 59.787 88 61.856 88 64c0 13.234-10.766 24-24 24-2.144 0-4.213-.31-6.192-.839l7.27-7.27a15.929 15.929 0 0 0 14.813-14.813zm47.605-3.021c-.492-.885-7.47-13.112-21.11-23.474l-5.821 5.821c9.946 7.313 16.248 15.842 18.729 19.602C114.553 71.225 95.955 96 64 96c-4.792 0-9.248-.613-13.441-1.591l-6.573 6.573C50.029 102.835 56.671 104 64 104c41.873 0 62.633-36.504 63.496-38.057a3.997 3.997 0 0 0 0-3.886zm-16.668-39.229-88 88C22.047 111.609 21.023 112 20 112s-2.047-.391-2.828-1.172a3.997 3.997 0 0 1 0-5.656l11.196-11.196C10.268 83.049 1.071 66.964.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24c10.827 0 20.205 2.47 28.222 6.122l12.95-12.95c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656zM34.333 88.011 44.46 77.884C41.663 73.96 40 69.175 40 64c0-13.234 10.766-24 24-24 5.175 0 9.96 1.663 13.884 4.459l8.189-8.189C79.603 33.679 72.251 32 64 32 32.045 32 13.447 56.775 8.707 63.994c3.01 4.562 11.662 16.11 25.626 24.017zm15.934-15.935 21.809-21.809C69.697 48.862 66.958 48 64 48c-8.822 0-16 7.178-16 16 0 2.958.862 5.697 2.267 8.076z' fill='%23000000' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: 75%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.35rem;
    z-index: 2;
    right: 0.75rem;
}

.field_x.field_x--password {
    position: relative;
}

.btn_show_field_x--password:hover {
    opacity: 0.5;
}

.btn_show_field_x--password.show {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath fill-rule='evenodd' d='M460.465 264.803c-41.315 74.193-119.667 120.282-204.438 120.282-84.826 0-163.177-46.089-204.493-120.282-3.182-5.761-3.182-11.851 0-17.607C92.85 173.004 171.201 126.92 256.027 126.92c84.771 0 163.122 46.084 204.438 120.276 3.238 5.756 3.238 11.846 0 17.607zm26.392-32.317c-46.638-83.767-135.085-135.798-230.83-135.798-95.8 0-184.247 52.031-230.885 135.798-8.34 14.946-8.34 32.081 0 47.016 46.638 83.767 135.085 135.809 230.885 135.809 95.745 0 184.192-52.042 230.83-135.809 8.34-14.934 8.34-32.07 0-47.016zm-230.83 85.528c34.183 0 62.001-27.818 62.001-62.017s-27.818-62.017-62.001-62.017c-34.238 0-62.056 27.818-62.056 62.017s27.819 62.017 62.056 62.017zm0-154.266c-50.918 0-92.288 41.387-92.288 92.25 0 50.874 41.371 92.244 92.288 92.244 50.863 0 92.233-41.371 92.233-92.244 0-50.863-41.37-92.25-92.233-92.25z' clip-rule='evenodd' fill='%23000000' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


@media screen and (max-width: 1000px) {
	.login__page__section__info {
		padding-left: 0;
		max-width: 450px;
		margin: 0 auto;
		padding-right: 50px;
	}

	.login__page__section__image {
		right: -20px;
		width: auto;
		left: auto;
		width: calc(23.75rem + 20px);
	}

	.login__page__section__top {
		width: calc(100% - 23.75rem - 20px);
	}

	.login__page__section__bottom {
		width: calc(100% - 23.75rem - 20px);
		padding-bottom: 1.5rem;
	}
}
@media screen and (max-width: 700px) {
	.login__page__section__image {
		display: none;
	}

	.login__page__content {
		min-height: 0;
		padding: 25px 0 35px;
	}

	.login__page__section__info {
		padding-right: 0;
		margin: 0 auto;
	}

	.login__page__section {
		padding-right: 0;
	}

	.login__page__section__top {
		width: 100%;
	}

	.login__page__section__bottom {
		width: 100%;
		text-align: center;
		line-height: 1.5;
	}

	.login__page__section__copyright {
		max-width: 300px;
		margin: 0 auto;
	}

	.login__page__content__title {
		font-size: 26px;
		letter-spacing: 0;
		margin-bottom: 10px;
	}

	.login__page__content__top {
		margin-bottom: 18px;
	}
}
